.text-dataviews {
  font-family: Inter, Lato, sans-serif;
}

.uno {
  color: #4f6f52;
  font-size: 15px;
  font-weight: 600;
  height: 26px;
  letter-spacing: 1px;
  line-height: 26px;
  position: fixed;
  margin-right: 2vh;
}

.dos {
  color: #3a4d39;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 26px;
  letter-spacing: 0.46px;
  line-height: 26px;
  display: inline-block;
}

