*{
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: #3A4D39;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    color: #ECE3CE;
    text-decoration: none;
}

.logo{
    display: flex;
    padding: 10px 50px;
    line-height: 60px;
}

.logo-img{
    height: 60px;
    width: 80px;
    cursor: pointer;
    border-radius: 50%;
}

.nav-menu{
    display: flex;
    margin-right: 60px;
    list-style: none;
}

.nav-menu-item{
    font-size: 16px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: capitalize;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-style: solid;
    border-radius: 20px;
    border-color: #ECE3CE;
}

.nav-menu-link:hover{
    background-color: #ECE3CE;
    color: #3A4D39;
    transition: 0.5s;
}

.nav-toggle{
    color: #ECE3CE;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

.nav-icono{
    color: #ECE3CE;
    background: none;
    border: none;
    font-size: 35px;
    padding: 15px 10px;
    line-height: 60px;
    cursor: pointer;
}

/*navbar Admin*/
.navbar-admin{
    display: flex;
    justify-content: space-between;
}

.navbar-admin-text-container{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-right: 250px;
}

.navbar-admin-h1{
    font-size: 15px;
    text-transform: uppercase;
    color: #ECE3CE;
}

.ddbutton:hover{
    background-color: #ECE3CE;
    border-radius: 5px;
    padding: 5px;
}

.ddbutton{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-size: 16px;
    background: none;
    border: none;
}

.nav-button{
    padding: 8px 12px;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    font-size: 16px;
    border-color: #ECE3CE;
    color: #ECE3CE;
    background: none;
    width: 150px;
    height: auto;
    cursor: pointer;
    font-family: '__Inter_e66fe9', '__Inter_Fallback_e66fe9';
}

.nav-button:hover{
    background-color: #ECE3CE;
    color: #3A4D39;
    transition: 0.5s;
}

.dropdownPerfil {
    border-radius: 15px;
    position: absolute;
    display: block;
    background-color: white;
    border: 1px solid #d9d9d9;
    line-height: 1;
    height: auto;
    width: 160px;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 10;
  }

@media (max-width: 768px){
    .header{
        background-color: #3A4D39;
        height: 60px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    .logo{
        padding: 7px 30px;
    }

    .logo-img{
        height: 45px;
        width: 60px;
    }
    
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #739072;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item{
        line-height: 70px;
    }

    .nav-toggle{
        display: block;
    }

    .nav-menu_visible{
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible){
        outline: none;
    }
}