.button-modify{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background: #739072;
    border: 3px solid #739072;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: auto;
    height: 42px;
  
    font-family:  Inter, Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #ECE3CE; 
    line-height: 26px;
    /* identical to box height, or 173% */
  
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.46px;
    text-transform: uppercase;
  
    /* warning/contrast */
  
    color: #FFFFFF;
  
  }
  
  .button-modify:hover{
    background-color: rgba(79, 111, 82, 0.67);
    border: 3px solid rgba(79, 111, 82, 0.67);
  }