*{
  margin: 0;
  padding: 0;    
}
html, body {
  font-size: 20px;
  background-color: #ffffff;
  font-family: Inter, Lato, sans-serif;
  overflow-y: auto;
}
.cargando-Proofile {
  font-family: Inter, Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  align-content: center;
  margin-left: 50%;
  margin-top: 25%;
}
.main-container-cproducts {
  height: 894px;
  width: 100%;
  margin: 0 auto;
}
.store-container-cproducts {
  display: flex;
  height: auto;
  width: 100%;
  margin: 0 auto;
}
.image-container-store {
  float: left;
}
.infostore-container-cproducts {
  float: right;
  width: auto;
  height: auto;
  margin-left: 4vh;
}
.content-cproducts {
  display: flex;
  min-height: fit-content;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}
.productos {
  display: grid;
  grid-template-columns: 219px 219px 219px 219px 219px;
  column-gap: 15px;
  row-gap: 10px;
}